<div class="space_top"></div>

<div class="pageHolder">
<div style="margin-top: 50px;" class="logoCard">
    <img width="100%" src="assets/Image/State of Kuwait Employment Visa (2).jpg" alt="kuwait logo">
</div>

<section>
    <div class="cardHlders">
        <div class="card">
            <img width="100px" height="120px" src="assets/Image/kuwait-logoCard.png" alt="logo">
            <a style="color: black;" class="btn btn-3" routerLink="/visaRelatedInformationAndTracking">Visa Related Information and Inquiries<br>
                المعلومات والاستفسارات المتعلقة بالهجرة</a> 
                
        </div>
        <div class="card">
            <img width="100px" height="120px" src="assets/Image/kuwait-logoCard.png" alt="logo">
            <a style="color: black;" class="btn btn-3" routerLink="/visaInqueryAndPrinting">Download or Print the Visa copy online<br>
                قم بتنزيل أو طباعة نسخة التأشيرة عبر الإنترنت</a> 
        </div>
    </div>
    <div class="textHolder">
        <h5>Use the “Visa Inquiry” service to:</h5>
        <br>
        <li>(A) Click on the VISA RELATED INFORMATION AND INQUIRIES button to know the correct information of the visa application. Fill in the requested information correctly and type the Captcha correctly then click on Find to see / know all the correct information related to the visa.</li>
        <br>
        <li>(B) If your desired visa has been issued then click on DOWNLOAD OR PRINT THE VISA COPY ONLINE button. Clicking on that button will show the option of Manual Visa and E-Visa. Click on the button for the type of visa you want to view / download or print. Fill the requested information correctly and type the captcha correctly then click on Find to see/know all the correct information related to the visa. The issued visa will show here automatically. You can then view / download / print the visa copy.</li>
       
        <audio controls autoplay loop preload="auto">
            <source  src="assets/audio/kuwaitNationalAnthem.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        
          
    </div>
</section>   
</div>
<div style="margin-top: 100px;"></div>