<div class="space_top"></div>
<div class="logoCard">
    <img src="assets/Image/kuwait-toplogo.jpg" alt="kuwait logo">
</div>

<section>
    <div class="cardHlder">
        <div class="card"></div>
        <div class="card"></div>
    </div>
    <div class="textHolder">
        <h5>Use the “Visa Inquiry” service to:</h5>
        <li>Follow up on the approval on work or visit visa applications by use of application number and to print or reprint details of issued visas online.</li>
        <li>   Inquire about work or visit visa applications by use of visa number and to print or reprint details of issued visas online.</li>
        <audio controls="" autoplay="">
            <source src="" type="audio/ogg">
            <source src="" type="audio/mpeg">
        </audio>
    </div>
</section>