<div class="space_top"></div>

<div class="pageHolder">
<div class="logoCard">
    <img src="assets/Image/kuwait-toplogo.jpg" alt="kuwait logo">
</div>

<section>
    <div class="cardHlders">
        <div class="card">
            <img width="100px" height="113px" src="assets/Image/kuwait-logoCard.png" alt="logo">
            <a class="btn btn-3">VISA APPROVAL AND TRACKING</a> 
        </div>
        <div class="card">
            <img width="100px" height="113px" src="assets/Image/kuwait-logoCard.png" alt="logo">
            <a class="btn btn-3">VISA INQUERY AND PRINTING</a> 
        </div>
    </div>
    <div class="textHolder">
        <h5>Use the “Visa Inquiry” service to:</h5>
        <li>Follow up on the approval on work or visit visa applications by use of application number and to print or reprint details of issued visas online.</li>
        <li>   Inquire about work or visit visa applications by use of visa number and to print or reprint details of issued visas online.</li>
       
        <audio controls autoplay loop preload="auto">
            <source  src="assets/audio/kuwaitNationalAnthem.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        
          
    </div>
</section>   
</div>
<div style="margin-top: 100px;"></div>