<div class="space_top"></div>
<div class="banner">

<div class="card">
    <div class="cartHeader">
      About Us
    </div>
    <div class="cartBody">
        <h3>About Us</h3>


        <p>Here you can see the current status or progress of all Work Visas / Employment Visas which&nbsp;applied or issued by Oman, Kuwait, Qatar, Bahrain, UAE and Saudi Arabia. You can print the&nbsp;Visa copy from here after the visa is issued.</p>

        <p>We are directly affiliated and accredited with the Visa Issuing Authority of Oman, Kuwait, Qatar,&nbsp;Bahrain, UAE and Saudi Arabia.</p>
       
        <p>The website directly operated, controlled and monitored by ROP - Oman, MOI - Kuwait, MOI -Qatar, MOI - Bahrain, ICA - UAE and MOI - KSA</p>

        <br>
        <p style="text-align: right;">هنا يمكنك رؤية الوضع الحالي أو التقدم لجميع تأشيرات العمل / تأشيرات العمل التي تطبقها أو تصدرها عمان والكويت&nbsp;<br>
            وقطر والبحرين والإمارات العربية المتحدة والمملكة العربية السعودية. يمكنك طباعة نسخة التأشيرة من هنا بعد إصدار<br>
            التأشيرة.</p>
        
            <p style="text-align: right;">نحن منتسبون ومعتمدون بشكل مباشر مع هيئة إصدار التأشيرات في عمان والكويت وقطر والبحرين والإمارات العربية<br>
                المتحدة والمملكة العربية السعودية</p>

                <p style="text-align: right;">يتم تشغيل الموقع الإلكتروني ومراقبته ومراقبته مباشرة من قبل شرطة عمان السلطانية - عمان ، وزارة الداخلية - الكويت ،<br>
                    وزارة الداخلية - قطر ، وزارة الداخلية - البحرين ، الهيئة الاتحادية للهوية والجنسية - الإمارات العربية المتحدة ووزارة<br>
                    الداخلية - المملكة العربية السعودية.</p>
</div>
</div>
</div>