.banner{
    display: grid;
    place-items: center;
    margin-bottom: 30px;
}

.card{
    width: 90%;
   
    margin-top: 40px;
    line-height: 2;
    z-index: 200;
}
.cartHeader{
    background-color: #e0dedef1;
    padding: 10px 40px;
}
.cartBody{
    padding: 10px 40px 40px 40px;
    margin-top: 20px;

}
#clickToGoVisaService{
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .card{
        width: 90%;
        margin-top: 40px;
        line-height: 2;
        z-index: 200;
    }
}
