<div class="space_top"></div>
<div class="banner">

<div class="card">
    <div class="cartHeader">
      About Us
    </div>
    <div class="cartBody">
        <h3>About Us</h3>
        <p>Online Visa checking and printing website of State of Kuwait.

        Here you can see current status or progress of all Work / Employment Visas which applied or issued by the Ministry of Interior - Kuwait. You can print the Visa copy from here after the Visa issued.
       
        We are directly affiliated and accredited with the visa issuing authority by the Ministry of Interior - State of Kuwait and the website directly operated / controlled by MOI - Kuwait.</p>

       
        <p style="text-align: right; direction: rtl;"> التحقق من التأشيرات عبر الإنترنت وطباعتها لموقع دولة الكويت
        
             هنا يمكنك الاطلاع على الوضع الحالي أو التقدم المحرز في جميع تأشيرات العمل / العمل التي تم تقديمها أو إصدارها من قبل وزارة الداخلية - الكويت. يمكنك طباعة نسخة التأشيرة من هنا بعد إصدار التأشيرة.

                نحن تابعون مباشرة ومعتمدون مع سلطة إصدار التأشيرات من قبل وزارة الداخلية - دولة الكويت والموقع الذي تديره / تسيطر عليه وزارة الداخلية - الكويت مباشرة </p>
</div>
</div>
</div>