<div class="space_top"></div>
<div class="banner">


<div class="card">
    <div class="cartHeader">
        FAQ for Kuwait
    </div>
    <div class="cartBody">
        <h3>FAQ for Kuwait</h3>


<p>
  <strong>Q. How can I verify the validity of my employment visa?</strong><br />
  Clicking on this link:
  <u id="clickToGoVisaService" routerLink="/kuwaitVisaServices">CLICK HERE</u> then will open
  a page of the Ministry of Interior, where the visa application status will
  appear. You will then enter your application number, visa number and enter the
  captcha number correctly and click submit. As soon as you see the Approved
  written there, you will understand that your visa has been issued and that is
  correct.
</p>

<p>
  <strong>Q. How do I know my visa application number and visa number?</strong
  ><br />
  The application number and visa number are reserved with your employer /
  company. So you can get the numbers from the employer / company.
</p>

<p>
  <strong
    >Q. How long is the work visa valid and how long does it take for me to
    arrive in Kuwait?</strong
  ><br />
  Your visa has an expiration date. You can arrive until the last day of the
  expiration date.
</p>
</div>
</div>
</div>
<div style="margin-top: 130px;"></div>