<div class="space_top"></div>
<div class="banner">


<div class="card">
    <div class="cartHeader">
        FAQ for Kuwait
    </div>
    <div class="cartBody">
        <h3>FAQ(Frequently Asked Questions)</h3>

        

        <p>
          <strong>Question 1. How do I know if my Visa Application has been submitted to the Company or Sponsor and the current status of the visa application?</strong><br />
        
          Answer: Contact the Company or Sponsor or visit https://eservices-visacheck-kw.online and provide your Passport Number, Date of Birth and Nationality information.
        </p>


        <p>
          <strong>Question 2. How do I know that the Visa issued in My Name is correct?</strong><br />
        
          Answer: You can visit <a href=" https://eservices-visacheck-kw.online"> https://eservices-visacheck-kw.online</a> and download the Visa issued in Your Name by providing your Passport Number, Date of Birth and Nationality information.
        </p>


        <p>
          <strong>Question 3. How many days to travel to Kuwait after the Employment Visa is issued?</strong><br />
        
          Answer: The Visa contains the date of issue and expiry. It is Mandatory for the Visa Holder to arrive in Kuwait before the expiry date.
        </p>

        <p>
          <strong>Question 4. Is the Salary written on the Employment Visa?</strong><br />
        
          Answer: No, Salary is not recorded. However, the Approval Copy contains the Salary which is provided by the Ministry of Interior to the Company or Sponsor at the time of Visa issuance.
        </p>

        <p>
          <strong>Question 5. Can I work other than the Profession that is written on my Visa? Or whether the Company or Sponsor can give me other types of work outside of my Profession?</strong><br />
        
          Answer: There is no such opportunity legally in Kuwait. The Company or Sponsor cannot engage in Occupations other than those specified in the Visa
        </p>

        <p>
          <strong>Question 6. What is the difference between Manual and e-Visa?</strong><br />
        
          Answer: There is no difference, Manual Visa is issued manually and e-Visa is issued electronically
        </p>


        <p>
          <strong>Question 7. Are Manual visa and e-Visa numbers the same?</strong><br />
        
          Answer: e-Visa Guidelines: (A) Visa number starting with 2 and totaling 9 digits (B) 1st MOI Reference number starting with 4 or 3 and totaling 9 digits & (C) 2nd MOI Reference number starting with any of number and totaling 6 digits.
        </p>


        <p>
          <strong>Question 8. Can the Company or Sponsor cancel the newly issued Visa when I live in my country?</strong><br />
        
          Answer: No one can cancel the Visa before the expiry date.
          <!-- <span style="direction: rtl;">
          التعليمات(أسئلة مكررة)
          السؤال 1. كيف أعرف ما إذا كان قد تم تقديم طلب التأشيرة الخاص بي إلى الشركة أو الراعي والوضع الحالي لطلب التأشيرة؟
          الإجابة: اتصل بالشركة أو الراعي أو قم بزيارة <a href=" https://eservices-visacheck-kw.online"> https://eservices-visacheck-kw.online</a> وقدم رقم جواز السفر الخاص بك وتاريخ الميلاد ومعلومات الجنسية.
          
          السؤال الثاني: كيف أعرف أن التأشيرة الصادرة باسمي صحيحة؟
          الإجابة: يمكنك زيارة <a href=" https://eservices-visacheck-kw.online"> https://eservices-visacheck-kw.online</a> وتنزيل التأشيرة الصادرة باسمك من خلال تقديم رقم جواز السفر الخاص بك وتاريخ الميلاد ومعلومات الجنسية.
          
          السؤال الثالث: كم عدد الأيام للسفر إلى الكويت بعد إصدار تأشيرة العمل؟
          الجواب: تحتوي التأشيرة على تاريخ الإصدار وانتهاء الصلاحية. من الضروري أن يصل حامل التأشيرة إلى الكويت قبل تاريخ انتهاء الصلاحية.
          
          السؤال 4. هل الراتب مكتوب على تأشيرة العمل؟
          الجواب: لا ، الراتب غير مسجل. ومع ذلك ، تحتوي نسخة الموافقة على الراتب الذي تقدمه وزارة الداخلية للشركة أو الراعي في وقت إصدار التأشيرة.
          
          السؤال 5. هل يمكنني العمل بخلاف المهنة المكتوبة على التأشيرة الخاصة بي؟ أو هل يمكن للشركة أو الراعي أن يعطيني أنواعًا أخرى من العمل خارج مهنتي؟
          الجواب: لا توجد مثل هذه الفرصة من الناحية القانونية في الكويت. لا يجوز للشركة أو الراعي الانخراط في مهن أخرى غير تلك المحددة في التأشيرة
          
          السؤال 6. ما هو الفرق بين التأشيرة اليدوية والتأشيرة الإلكترونية؟
          الإجابة: لا يوجد فرق ، يتم إصدار التأشيرة اليدوية يدويًا ويتم إصدار التأشيرة الإلكترونية إلكترونيًا
          
          السؤال 7. هل أرقام التأشيرة اليدوية والتأشيرة الإلكترونية هي نفسها؟
          الجواب: لا
          التأشيرة اليدوية: (أ) رقم الطلب الذي يبدأ بـ 2 ويبلغ إجمالي 9 أرقام (ب) رقم التأشيرة يبدأ بـ 3 ويبلغ إجمالي 10 أرقام (C) رقم الدخول يبدأ بـ 7 ويبلغ إجمالي 7 أرقام (D)) يبدأ رقم الموقع بالرقم 1 ويبلغ المجموع 9 أرقام & (E) رقم حالة طلب التأشيرة يبدأ بـ 9 ويبلغ مجموعها 7 أرقام
          
          التأشيرة الإلكترونية: (أ) رقم التأشيرة يبدأ برقم 2 ويبلغ إجمالي 9 أرقام (ب) 1شارع يبدأ الرقم المرجعي لوزارة الداخلية بـ 3 ويبلغ إجماليه 9 أرقام & (C) 2اختصار الثاني يبدأ الرقم المرجعي لوزارة الداخلية بالرقم 1 ويبلغ إجماليه 6 أرقام
          
          السؤال 8. هل يمكن للشركة أو الراعي إلغاء التأشيرة الصادرة حديثًا عندما أعيش في بلدي؟الجواب: لا يمكن لأحد إلغاء التأشيرة قبل تاريخ انتهاء الصلاحية.
        </span> -->
        </p>

<!-- <div style="margin-top: 130px;"></div> -->