<div class="space_top"></div>
<div class="homePage">
    <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
<div id="slider">
<figure>
<img src="assets/Image/banner.jpg" height="800px" alt="">
<img src="assets/Image/Kuwait-Elements.jpg" height="800px">
<img src="assets/Image/banner3.jpg" alt="" height="800px">
<img src="assets/Image/banner.jpg" height="800px" alt="">
<img src="assets/Image/Kuwait-Elements.jpg" height="800px">
</figure>
</div>
<section class="visaServices">
<h1>Visa Services</h1>
<div class="cartHolder">
    <div class="card">
        <div>
           <img src="assets/Image/kuwait-toplogo.jpg" alt="logo">
        </div>
        <div>
            <h2>Kuwait</h2>
            <p class="p-first">-Visa Approval Tracking</p>
            <p>-Visa Inquery And Printing</p>
        </div>
        <hr>
        <div>
            <button>VISA SERVICE</button>
        </div>

    </div>
</div>
</section>
<hr>
<section class="last">
  <div class="content">
    <h3>Visa Services provider</h3>
    <p>
        Online Visa checking and printing website of UAE, Oman, Kuwait, Qatar, Bahrain and Saudi Arabia
    </p>
    <p >
        Here you can see the current status or progress of all Work Visas / Employment Visas which
        applied or issued by Oman, Kuwait, Qatar, Bahrain, UAE and Saudi Arabia. You can print the
        Visa copy from here after the visa is issued.
    </p>
    <p >We are directly affiliated and accredited with the Visa Issuing Authority of Oman, Kuwait, Qatar,
        Bahrain, UAE and Saudi Arabia.
    </p>
    <p >The website directly operated, controlled and monitored by ROP - Oman, MOI - Kuwait, MOI -
        Qatar, MOI - Bahrain, ICA - UAE and MOI - KSA
    </p>
</div>
  <div id="card">
    <div id="cardHeader">
        <h3> FAQ of Visa Information</h3>
    </div>
    <hr>
    <div id="cardContent">
        <button>FQA FOR KUWAIT</button>
    </div>
  </div>
</section>
</div>