@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');


.homePagem *{
    font-family: 'Cairo', sans-serif;
}

.textes{
    width: 70%;
    margin: auto;
    margin-bottom: 60px;
}


@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    body { margin: 0; } 
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 26s slidy infinite; 
    }

// documentation there is a layer in the full page

.visaServices{
    text-align: center;
    margin: 25px 50px;
    margin-top: 50px;
}

.cartHolder{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
	width: 365px; 
    // height: 410px;
    height: 300px;
    padding: 25px;
	overflow: hidden;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	text-align: center;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
    z-index: 200;
}
.card h2{
    margin-top: 45px;
}
.card .p-first{
    margin-top: 40px;
}

.card button{
    margin-top: 10px;
    background-color: #00C851;
    color: #FFFFFF;
    border-radius: 4px;
    width: 151px;
    height: 47px;
    border: none;
    cursor: pointer;
    -webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

.card button:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.homePage{
    max-width: 100%;
    background-color: #f5f5f5;
}

.last{
    margin: 50px 8em;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .content{
       width: 70%;
    }

    #card{
    width: 360px; 
    height: 390px;
    padding: 25px;
	overflow: hidden;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	text-align: center;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
    z-index: 200;

    #cardContent{
        button{
            width: 248px;
            height: 54px;
            color: #007BFF;
            border: 1px solid #383838e1;
        }
    }
    }
}

// Medium desktops: 992px to 1199px

// @media only screen and (max-width: 1300px){
//     .last{
//         // margin: 50px 5em;
//         display: flex;
//         width: 100%;
//        justify-content: center;
//        align-items: center;
      
//         flex-wrap: wrap;
       
//         .content{
//            width: 50%;
//            margin-right: 300px;
//         }
//         .cartHolder{
//             width: 50%;
            
//         }

//         #card{
//             width: 250px; 
//             height: 380px;
//             padding: 25px;
//             overflow: hidden;
//             background-color: #FFFFFF;
//             border-radius: 5px;
//             box-shadow: 0 2px 4px rgba(0,0,0,0.2);
//             text-align: center;
//             -webkit-transition: .1s ease-in-out;
//             transition: .1s ease-in-out;
//             z-index: 200;
        
//             #cardContent{
//                 button{
//                     width: 200px;
//                     height: 54px;
//                     color: #007BFF;
//                     border: 1px solid #383838e1;
//                 }
//             }
//             }
//     }
// }

@media only screen and (max-width: 768px) {
    .last{
        display: block;
        margin:50px 10px;

        .content{
            width: 100%;
            padding-left: 25px;
         }
       
    }

    #card{
        width: 300px; 
        height: 390px;
        #cardContent{
            button{
                width: 230px;
            }
        }
    }
}

#video{
    width: 100%;
}

#video video{
    width: 100%;
}