

<!-- <div (click)="hideDropdown()" class="overlay"></div> -->
      
<!--Navigation & Intro-->
 <!--Navbar-->
<div class="fixed-top header" style="background: #fff">

    <nav id="upBanner">
        <div class="container">
            <!-- <div class="d-flex justify-content-between mt-1" id="banner">
              <a >
                <img src="assets/Image/logo.png" class="logo">
            </a>
             <img src="assets/Image/visa-service-country.png" class="right img img-responsive">
        </div> -->
        <img id="bannerImage" src="assets/Image/Banner 1950 x 200.jpg NEW (1).jpg" alt="">
        </div>
    </nav>
    <div class="nav">
        <input type="checkbox" (click)="toggleCheckbox()" [checked]="isChecked"  id="nav-check">
       
        <div class="nav-btn">
          <label id="iii" for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>   
        <div class="nav-links">
          <a class="closes" (click)="toggleCheckbox()" (click)="hideDropdown()" routerLink="/">Home</a>
          <a class="closes" (click)="toggleCheckbox()" (click)="hideDropdown()" routerLink="/aboutUs">About Us</a>
          <!-- <a (click)="toggleDropdown()" class="dropdown">Visa Services   <i class="fa fa-caret-down"></i></a> -->
          <a routerLink="/kuwaitVisaServices" class="closes" (click)="hideDropdown()" (click)="toggleCheckbox()">Visa Services</a>
          <!-- <div class="dropdown-content" *ngIf="dropdownVisible">
            <a class="closes" (click)="toggleCheckbox()" (click)="hideDropdown()" routerLink="/kuwaitVisaServices">Kuwait</a>
          </div> -->
          <a class="closes" (click)="hideDropdown()" (click)="toggleCheckbox()" routerLink="/contactUs">Contact</a>
          <a class="closes" (click)="hideDropdown()" (click)="toggleCheckbox()" routerLink="/FAQ">FAQ</a>
        </div>
      </div>
</div>
    <!--/Navbar-->