<div class="space_top"></div>

<!-- <section>
  <div class="card">
    <div class="form">
      <h3 style="padding: 25px" class="mt-4">
        <i class="fas fa-envelope pr-2" style="margin-right: 10px"></i>Write to
        us:
      </h3>
      <form class="form-container">
        <div class="form-line">
          <input type="text" class="form-input" />
          <label>Name</label>
        </div>
        <div class="form-line">
          <input type="text" class="form-input" required />
          <label>Your email *</label>
          <div class="error-label">Field is required!</div>
         
        </div>
        <div class="form-line">
          <input type="text" class="form-input" />
          <label>Your Phone Number</label>
         
        </div>
        <div class="form-line">
          <textarea class="form-input" required></textarea>
          <label>Message</label>
       
          <div class="error-label">Field is required!</div>
        </div>

        <input type="button" class="form-button" value="Submit" />
      </form>
    </div>

    <div class="content">
      <div class="banner">
        <h3>Contact information</h3>
        <p style="font-size: 14px">
          <i class="fas fa-map-marker-alt pr-2 white-text"></i
          ><b style="font-size: 16px">Visa Check Kuwait</b>
        </p>
        <p>
          Doha<br />
          State of Qatar
        </p>
        <p>
          Abu Dhabi, Dubai<br />
          United Arab Emirates
        </p>
        <p>
          Kuwait City<br />
          State of Kuwait
        </p>
        <p>
          Muscat<br />
          Sultanate of Oman
        </p>
        <p>
          Riyadh<br />
          Kingdom of Saudi Arabia
        </p>
        <p>
          Manama<br />
          Kingdom of Bahrain
        </p>

        <p style="font-size: 14px">
          <i
            style="margin-right: 10px"
            class="fas fa-envelope pr-2 white-text"
          ></i
          >info@gulf-visa-check.online<br />
          <i
            style="margin-right: 10px"
            class="fas fa-globe pr-2 white-text"
          ></i>
          www.gulf-visa-check.online
        </p>
      </div>
    </div>
  </div>
</section> -->


<!-- <section>
  <h3>Emergency Contact</h3>

  <div class="center">
    <hr>
    <div>
      <div>
        <p>Police,Ambulance & Fire</p>
        <p>112</p>
      </div>
      <div>
        <p>Civil Defence</p>
        <p>1804000</p>
    
      </div>
    </div>
    <hr>
    <div>
      <div>
        <p>Cyber Crime</p>
        <p> 97283939</p>
      </div>
      <div>
        <p>Juvenile Protection</p>
        <p>25589535</p>
        <p>97283636 </p>
      </div>
    </div>
    <hr>
    <div>
      <div>
        <p>Narcotics Control</p>
        <p>1884141</p>
      </div>
      <div>
        <p>Coast Guard</p>
        <p>1880888</p>
      </div>
    </div>
    <hr>
    <div>
      <div>
        <p>Traffic Control</p>
        <p>99324092</p>
      </div>
      <div>
        <p>Inspection & Control</p>
        <p>25200334</p>
      </div>
    </div>
    <hr>
    <div>
      <div>
        <p>Residency Affairs</p>
        <p>25582555</p>
        <p>97288211</p>
        <p>97288200</p>
      </div>
      <div>
        <p>Public Moral Protection & Anti</p>
        <p>Human Trafficking</p>
        <p>25589648</p>
        <p>25589655</p>
        <p>25589696</p>
      </div>
     
    </div>
    <hr>
  </div>
</section> -->

<section>
  <h3>Contact Phone</h3>

  <div class="center">
    <hr>
    <div>
      <div>
        <p>Police, Ambulance & Fire: 112</p>
        
      </div>
      <div>
        <p>Civil Defence: 1804000</p>
      </div>
    </div>
    <div>
      <div>
        <p>Juvenile Protection: 25589535, 97283636</p>
      </div>
      <div>
        <p>Narcotics Control: 1884141</p>
      </div>
    </div>
    <div>
      <div>
        <p>Coast Guard: 1880888</p>
      </div>
      <div>
        <p>Traffic Control: 99324092</p>
      </div>
    </div>
    <div>
      <div>
        <p>Inspection & Control: 25200334</p>
      </div>
      <div>
        <p>Residency Affairs: 25582555, 97288211, 97288200</p>
      </div>
    </div>
    <hr>
  </div>
</section>

